@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-UltraLight.otf") format("opentype");
  font-weight: 100;
}

html {
  font-size: 18px;
}

body {
  background-color: #edeeef;
  color: #505050;
  font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
#get_file,
.title.filename,
.message.error,
.legend {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
}

section>div>div {
  padding-top: 20px;
}

.btn-group .btn {
  margin-bottom: 0;
}

#svg-container svg {
  display: block;
  margin: auto;
  background-color: #fff;
}

.mouse-down {
  cursor: move;
}

.message.error,
.title.filename {
  font-size: 1.6rem;
  font-weight: 300;
}

.message.error {
  font-size: 4rem;
  fill: #D9534F;
}

.message.info {
  font-size: 1.4rem;
  text-transform: none;
}

.gnode {
  cursor: pointer;
}

.gnode:active {
  cursor: move;
}

.gnode text {
  fill: #3c3c3c;
}

.node {
  fill: #3c3c3c;
}

.node.initial {
  fill: #5CB85C;
}

.nodetext {
  font-size: 1rem;
}

.nodetext.initial {
  font-size: 1.1rem;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 2px;
}

.link.none {
  stroke: #3c3c3c;
}

.link.yes {
  stroke: #5CB85C;
}

.link.no {
  stroke: #3894F0;
}

.link.error {
  stroke: #D9534F;
}

.legend {
  font-size: .8rem;
  font-weight: 300;
}

#status .alert,
#status .btn-group,
#status button {
  width: 100%;
}

#status button {
  font-size: 1.2rem;
  min-height: 60px;
}

#status .dropdown-item {
  white-space: normal;
}

#status .dropdown-menu,
#status .dropdown-item {
  max-width: 100%;
}

#my_file {
  display: none;
}

#get_file {
  font-weight: 300;
}
